{{yield}}
<nav class="navbar navbar-expand-lg navbar-light bg-light " >
<header>

    <div id="header">
    <div class="pozadina"></div>
        <div class="container"> 

 <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
  
  <li style="float:left "><a href="#AppName">AppName</a></li>
  <li style="float:right "><a class="active" href="#Login">Login</a></li>
  <li style="float:right "><a href="#Restaurants">Restaurants</a></li>
    <li style="float:right "><a href="#Home">Home</a></li>
 <div class="naslov">
  <h1> Make a free reservation </h1>
  <h5> Choose your table from 757 restaurants near you</h5>
  </div>
  </div>
  </div>
 
  {{restaurant-search}}
    </div>
  
  </div>
</header>
</nav>