{{yield}}
  <div class="card">

    <div class="card-block force-to-bottom">
    <div class="container">
 <div class="row ">
  <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0" style="margin-top:-24px;">
      <li3 style="float:left " small class="text-muted"><a href="#privacy">Privacy Policy</a></li3>
  <li3 style="float:left "><a class="term" href="#term">Term of use</a></li3>
  <li3 style="float:left "><a href="#sitemap">Sitemap</a></li3>
    <li3 small class="text-muted"style="float:left "><a href="#mobile">Mobile Site</a></li3>
    <li2 style="float:right"><a class="about" href="#about">About Us</a></li2>
    <li2 style="float:right"><a class="blog" href="#blog">Blog</a></li2>
    <li2 style="float:right"><a class="careers" href="#careers">Careers</a></li2>
    <li2 style="float:right" ><a class="press" href="#press">Press</a></li2>
     <li2 style="float:right"><a class="add" href="#add">Advertise</a></li2>
     
</div>
<li4 style="padding-top:15px;" >Copyright © 2016 All rights reserved.</li4>

  </div>
  </div>

    </div>
  </div>