
{{outlet}}


<!---NAVIGATION BAR-->

<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background: white">
<div class="container"> 
 <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" style="    margin-bottom: 18px;
    margin-top: -24px;">
  
  < <li style="float:left "><a href="#AppName">AppName</a></li>
  <li style="float:right "><a class="active" href="/singin">Login</a></li>
  <li style="float:right "><a href="/restaurants">Restaurants</a></li>
    <li style="float:right "><a href="/home">Home</a></li>

  </div>
  </div>
    
  </div>
</nav>

 

<!---Login-->
<div class="container"> 
<div class="row">
  <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
     <div id="forma" >
  <h3> Login</h3>
  <a href="#" class="login-link" style="color: #E57373!"> {{#link-to 'singup'}}Create Account {{/link-to}}</a>
  
      <div class="clearfix"></div>

      <form action="singin.hbs" method="POST" class="register-forma" onsubmit="return Validate()" name="vform">
         
        <div class="form-group">
         {{input type="email"  id="email" class="form-control" placeholder="Email" value=email required=true}}

        </div>
      
      <div class="form-group">
          {{input type="password" class="form-control" placeholder="Password" value=password}}
        </div>
      
        
        <button  type="submit" class="btn btn-danger btn-reg" style="width:100%" {{action "login"}} >Login</button>

      </form>


</div>
  </div>
</div>
    


</div>


 <div class="footer">
 <div class="card">

    <div class="card-block force-to-bottom">
    <div class="container">
 <div class="row ">
  <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0" style="margin-top:-24px;">
      <li3 style="float:left " small class="text-muted"><a href="#privacy">Privacy Policy</a></li3>
  <li3 style="float:left "><a class="term" href="#term">Term of use</a></li3>
  <li3 style="float:left "><a href="#sitemap">Sitemap</a></li3>
    <li3 small class="text-muted"style="float:left "><a href="#mobile">Mobile Site</a></li3>
    <li2 style="float:right"><a class="about" href="#about">About Us</a></li2>
    <li2 style="float:right"><a class="blog" href="#blog">Blog</a></li2>
    <li2 style="float:right"><a class="careers" href="#careers">Careers</a></li2>
    <li2 style="float:right" ><a class="press" href="#press">Press</a></li2>
     <li2 style="float:right"><a class="add" href="#add">Advertise</a></li2>
     
</div>
<li4 style="padding-top:15px;" >Copyright © 2016 All rights reserved.</li4>

  </div>
  </div>

    </div>
  </div>
  </div>
